*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;

}
body{
    background-color: #EF5B0C;
}
.main-div{
    width: 300px;
    height: 500px;
    background-color:#222831;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px 0px; 
}
h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    color: white;
    margin: 10;
}
input{
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;

}
button{
    font-size: 18px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #082032;
    background-color: #EF5B0C;
    font-weight: 999;  
}
p{
    color: white;
    margin-top: 10px;
}